<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Inheritance_pkg.Sh_C_Add_To_Cart</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Go_To_profile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewPWBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UpdatedData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SpCharInFName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RemoveItem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ScrollDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AllFieldBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CurrentPWBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidmobilenmFilled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PlusInItem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ConformPWBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MinusInItem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>View_Cart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SecondnmFilled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Clear_AllPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Select_Product</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AlphabetsInMoNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DiffPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>View_Cart_PopUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FirstnmFilled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OnlyAlphabeticPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WindowClose</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CaseSensitivityPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SpCharInLName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AlPWBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OnlyNumericPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OpenChangePW</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
